/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* navbar styles *************************************/

#nav_font1,
#nav_font2,
#nav_font3 {
	color: white;
}

#navbar_logo {
	color: white;
	font-weight: 900;
}

#register-button,
#login-button {
    border-radius: 5px;
    color: white;
    line-height: 5px;
    margin-left: 3px;
    margin-top: 7px;
    height: 35px;
    border: 1px solid rgba(236, 225, 192, 0.95);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5d98+0,ef0158+56 */
background: rgb(255,93,152); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,93,152,1) 0%, rgba(239,1,88,1) 56%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,93,152,1) 0%,rgba(239,1,88,1) 56%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,93,152,1) 0%,rgba(239,1,88,1) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d98', endColorstr='#ef0158',GradientType=0 ); /* IE6-9 */

}


.navbar {
	border-radius: 0px;
	border-bottom: 2px solid gray;
	height: 35px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,0a0809+100;Black+Gloss */
background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */


}


.dropdown-menu {
	background-color: rgb(233, 30, 99);
	a {
		color: white;
	}
}

.navbar-toggle {
	background-color: rgb(233, 30, 99);
}


/* page wrapper ***************************************/

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

/* footer styles **************************************/

.site-footer, .page-wrap:after {
	height: 80px;

}

.site-footer {
	background-color: white;
    color: black;
    font-weight: 900;
}