/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* navbar styles *************************************/

#nav_font1,
#nav_font2,
#nav_font3 {
	color: white;
}

#navbar_logo {
	color: white;
	font-weight: 900;
}


.navbar {
	border-radius: 0px;
	border-bottom: 2px solid gray;
	background-color: rgb(42, 167, 230);
	height: 35px;
}

.dropdown-menu {
	background-color: rgb(233, 30, 99);
	a {
		color: white;
	}
}

.navbar-toggle {
	background-color: rgb(233, 30, 99);
}

#register-button,
#login-button {
	background-color: rgb(233, 30, 99);
    border-radius: 5px;
    color: white;
    line-height: 5px;
    margin-left: 3px;
    margin-top: 7px;
    height: 35px;
    border: 1px solid rgba(236, 225, 192, 0.95);
}


/* page wrapper ***************************************/

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

/* footer styles **************************************/

.site-footer, .page-wrap:after {
	height: 80px;

}

.site-footer {
	background-color: white;
    color: black;
    font-weight: 900;
}