$font-stack1: Futura, Franklin Gothic Medium, Arial, Sans-serif;

@font-face {
    font-family: 'billoregular';
    src: url('billo-webfont.woff2') format('woff2'),
         url('billo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: "Harabara";
	src: url(font-path("harabara.ttf"));
}

.page-wrapper-products {
	margin-top: 50px;
}


h3 {
	 font-size: 7em;
	 font-family: billoregular;
	 color: white;
	 position: relative;
	 background-image: image-url("halftone.jpg");
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no repeat;
	 text-align: center;
	 padding-top: 25px;
}

table {
	margin-left: 20px;
}

.selector {
	margin-left: 20px;
	font-family: $font-stack1;
}

.product-list-display {
	border: 1px solid black;
}