
$font-stack1: Futura, Franklin Gothic Medium, Arial, Sans-serif;

$font-stack2: Big Caslon, Georgia, serif;

@font-face {
    font-family: 'billoregular';
    src: url('billo-webfont.woff2') format('woff2'),
         url('billo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.thumbnails {
	margin-left: -15px;
	margin-right: -15px;
	height: 500px;
	background-color: black;
}

.thumbnail {
	border-radius: 0px;
	margin: 4%;
	margin-top: 50px;
}


@media (max-width: 768px) {
	#logo_info_p_1,
	#logo_info_p_2,
	#logo_info_p_3 {
	display: none;
	}
}


.lander_intro {
	margin-bottom: 20px;
	background-image: image-url("halftone.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no repeat;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 1px;
    margin-top: 35px;
	h1 {
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.45);
	}
}

.row {
	width: 100%;
	margin: auto;
}

/* Typography ********/

.container-fluid {
 h1 {
	 font-size: 8em;
	 font-family: billoregular;
	 color: white;
	 position: relative;
	 margin-top: 25px;
	 text-align: center;
 }
}

.logo {
	margin-bottom: 2%;
	.img-responsive {
		border-radius: 50%;
	}
}

#product_logos {
	float: right;
	margin-right: 25px;
	margin-top: 30px;
}

/* logo info section *****************/

#logo_info_p_1,
#logo_info_p_2,
#logo_info_p_3 {
	min-width: 180px;
	min-height: 160px;
	background-color: black;
	margin-bottom: 5px;
	color: white;
	margin-left: -20px;
	border-radius: 8px;
}
