
<div class="page-wrapper-products">

  <p id="notice"><%= notice %></p>

  <h3>Team Tees</h3>

  <div class="container-fluid">
    <%= link_to "Back", root_path %>
    <div class="row">
     <%= render @products %>
    </div><!--/row-->

  </div><!--/container-fluid-->

  <button type="button" class="btn btn-primary btn-xs selector" id="new-prod-button">
    <%= link_to 'New Product', new_product_path %>
  </button>

  </div><!-- products-table -->

</div><!-- / page-wrapper-products -->
